body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    display: inline-block;

}
nav{
    background-color:transparent;
    text-align: center;
    height: 25px;
    width: 100vw;
}
ul{
    align-self: auto;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
li{
    list-style: none;
}
.navigation-tab{
    color: white;
}
.container-grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*background-color: #2196F3;*/
    height: 450px;
    width: 100vw;
}   
.container-items{
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
}
.peli{
    background-image: url('https://www.fotoefectos.com/admin/efectos_grandes/ejemplos/grandes/grandes3/775.jpg');
    height: 70vh;
    width: 100%;
}